body {
    margin: 0;
    padding: 0;
}

.navtop {
    height: 50px;
    width: auto;
    background-color: #9b009d;
    display: flex;
    justify-content: space-between;
}

#logo-navtop {
    height: 50px;
    width: 50px;
}

#btn {
    color: white;
    background-color: #4af128;
    border-radius: 5px;
    height: 60%;
}

.navtop-mid {
    display: flex;
    align-items: center;
    color: white;
}

#logo-navbar {
    height: 70px;
    width: 140px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    margin: auto;
    border-bottom: solid 1px rgb(192, 192, 192);
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 60%;
}

a {
    text-decoration: none;
}

.navbar-doite {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px rgb(192, 192, 192);
    width: 15%;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px rgb(192, 192, 192);
    width: 15%;
}

.titre {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hr {
    width: 3%;
    margin: auto;
    border: solid 1px purple;
}

.section-intro {
    width: 90%;
    margin: auto;
}

.section-intro p,
li {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 111, 111);
}

.section-intro li::marker {
    color: #9b009d;
}

.section-intro li {
    padding-top: 20px;
    list-style-position: outside;
}

.section-principal {
    width: 90%;
    margin: auto;
}

.section-principal p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 111, 111);
}

.section-principal h2 {
    font-size: 25px;
    color: rgb(96, 96, 96);
}

.footer {
    background-color: #414041;
    color: white;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 25%;
    height: 20%;
    font-size: 20px;
}

#footer-hr {
    width: 100%;
}

.footer-log {
    display: flex;
    justify-content: center;
    width: 20px;
    margin: auto;
}

#footer-logo {
    height: 80px;
    width: 150px;
}

.footer-copi {
    text-align: center;
}